.red {
  background-color: #e53935;
}

.green {
  background-color: #43a047;
}

.blue {
  background-color: #1e88e5;
}

.navyBlue {
  background-color: var(--navyBlue);
}

.orange {
  background-color: var(--orange);
}

.grey{
    background-color: rgb(57, 56, 59);
}
.white{
    background-color: white;
}

.black{
    background-color: black;
}





.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

}

.sectionLanding {
  height: 100dvh;
  scroll-snap-align: start;
  color: white;
  position: relative;
}

.sectionAlignedRightFlex{
    display: flex;
    justify-content: flex-start;
}



/* VIDEO SECTION */
.video-section {
  overflow: hidden;
  position: relative;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* para que quede detrás del contenido */
}

.video-overlay {
  color: white;
  text-align: center;
  z-index: 1;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}

.divLottie{
    /* background-color: red; */
  position: absolute;
  bottom: 5%;
  left: 0%;
  width: 13rem; /* ajusta al tamaño que quieras */
  height: 3rem;
  display: flex;
  left: 45%;
    justify-content: center;
    align-items:center;
    justify-content: space-around;
}






/*NEWS SECTIOM*/

.row{
    margin:0!important;
}

.cols-1stRow-news{
    position: relative;
    padding:1px!important;
    height: 70dvh;
    cursor: pointer;
}

.cols-2ndRow-news{
    position: relative;
    padding:1px!important;
    height: 30dvh;
    cursor: pointer;

}

.cols-1stRow-news a{
    text-decoration: none;
    color:white
}

.cols-2ndRow-news a{
    text-decoration: none;
    color:white
}



.div-shadowBox{
    width: 60%;
    height: 6dvh;
    bottom: 3dvh;
    position: absolute;
    padding-left:0.5rem;
    /* border: 2px red solid; */
    background-color: var(--red);
    font-size: 1.3rem;
    font-family: 'madaniArabicLight';
    box-shadow: 10px 0px 13px -8px rgba(51,23,156,0.75);
    -webkit-box-shadow: 10px 0px 13px -8px rgba(51,23,156,0.75);
    -moz-box-shadow: 10px 0px 13px -8px rgba(51,23,156,0.75);
    z-index: 10;
      white-space: normal;
  word-wrap: break-word;
  overflow: hidden;

        /* Animación 
    transform: translateX(-100%);
    animation: slideIn 3.6s ease-out forwards;*/
}


/* @keyframes slideIn {
    to {
        transform: translateX(0);  
    }
} */

.div-itemTitleIcon{
    width: 5dvh;
    height: 5dvh;
    bottom: 3.5dvh;
    left: 60%;
    position: absolute;
    background-color: white;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgClass{
    width: 100%;
    height: 100%;
    object-fit: cover;

}






/* OFERTA ACADEMICA SECTION */
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}

.image-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.4s ease;
  opacity: 0.7;
}

.image-item img:hover {
  transform: scale(1.03);
  z-index: 1;
}

.image-text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* cambia según el fondo */
    font-family: "madaniArabicLight";
    font-size: 2.0rem;
    font-weight: bold;
    text-shadow: 0 2px 6px rgba(0,0,0,0.7); /* mejora la visibilidad */
    pointer-events: none; /* para que no bloquee el hover */
    margin:0px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.borderBottomGreen{
    border-bottom: 5px solid var(--green)
}

.borderBottomOrange{
    border-bottom: 5px solid var(--orange)
}

.borderBottomRed{
    border-bottom: 5px solid var(--red)
}

.borderBottomBlue{
    border-bottom: 5px solid var(--blue)
}

.image-text p{
    margin:1rem;
}

.image-text img{
    width: 5dvh;
    height: 5dvh;
    opacity: 1;
}






/* UNIDADES ACADEMICAS SECTION */

#mapaJaliscoContainerMobile{
    display:none
}

.mapaJaliscoContainer{
  width: 50%;
  height: 100%;
  overflow: hidden;            /* Oculta cualquier parte fuera del tamaño */
  /* background-color: green; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  margin-right: 1rem; */
  /* background-color: grey; */
}


.mapSectionTextLeft{
    width: 50%;
    height: 100%;
    text-align: center;

    padding: 0px 3rem 0 3rem;
    font-family: 'madaniArabicBold';
    /* background-color: red; */


    display: flex;
    flex-direction: column; /* uno encima del otro */
    justify-content: center; /* centra verticalmente */
    align-items: center;     /* centra horizontalmente */
    text-align: center;      /* opcional: centra el texto */
}

.mapSectionTextLeft h1{
    margin: 0;
    font-size: 4rem;
}

.mapSectionTextLeft p{
    font-family: 'madaniArabicLight';
    font-size: 1.5rem;
}







/* FOOTER SECTION */

.footerSectionContact{
    width: 100%;
    height: 100dvh;
    background-image: url('https://tecmm.edu.mx/apiCms/cmsWebFiles/teclado.png');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.footerSectionContact h1{
    margin:0;
    padding-top: 4rem;
    padding-bottom:1rem;
    font-family: 'madaniArabicMedium';
    font-size: 2.5rem;
}



.footerSectionContact h2{
    margin:0;
    font-family: 'madaniArabicBold';
    font-size: 1.5rem;
}

.div-footer-content{
    width:100%;
    height: 45dvh;
    /* background-color: pink; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-footer-phoneSocialMedia{
    /* background-color:green; */
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-footer-phoneSocialMedia img{
    width: 10dvw;
    height: 10dvw;
    margin:0.5rem
}

.div-footer-phoneSocialMedia h3{
    margin: 0;
    font-size: 2rem;
}

.div-footer-phoneSocialMedia h4{
    margin: 0;
    font-family: 'madaniArabicMedium';
    font-size: 1.3rem;
}


.div-footer-phones{
    font-size: 1.5rem;
    font-family: 'madaniArabicBold';
}


.div-footer-ccontainerLogosSocialMedia img{
    width: 2.5dvw;
    height: 2.5dvw;
}



.div-footer-mapAddress{
    /* background-color:red; */
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footerSectionLogos{
    width: 100%;
    height: 20dvh;
    display: flex;
    align-items: center; /* ⛔ Esto centra verticalmente */
    justify-content: space-around; /* Esto centra horizontalmente */
}

.footerSectionLogos img{
    width: 15rem;
    height: 6rem;
    object-fit:contain;
}
































/* Celulares medianos y grandes (480px a 767px) */
@media (min-width: 350px) and (max-width: 767px) {
    .divLottie{
        position: absolute;
        bottom: 5%;
        left: 50%;
        width: 1.5rem; /* ajusta al tamaño que quieras */
        height: 1.5rem;
    }


    .image-grid {
        display: block;
        grid-template-columns: none;
        grid-template-rows: none;
        width: 100%;
        height: 100%;
        background-color: red;
    }

    .image-grid img {
        width: 100%!important;
        height: 25dvh!important;
        object-fit: cover;
        cursor: pointer;
    }

    .image-grid img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        object-fit: cover;
        transition: transform 0.4s ease; /* Suaviza el zoom */
    }

    .image-grid img:hover {
        transform: scale(1.03); /* Aplica zoom al hacer hover */
        z-index: 1; /* En caso de solapamiento */
    }





    .sectionAlignedRightFlex{
        display: flex;
        justify-content: flex-start;
    }










    /* UNIDADES ACADEMICAS SECTION */


    .sectionAlignedRightFlex{
        display: flex;
        flex-direction: column; /* uno encima del otro */
        justify-content: flex-start; /* centra verticalmente */
        align-items: center;     /* centra horizontalmente */
        text-align: center;  

    }

    .mapaJaliscoContainer{
        width: 100%;
        height: 100%;
        overflow: hidden;          /* Oculta cualquier parte fuera del tamaño */
        /* background-color: green; */
        display: none;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
        margin-right: 1rem; */
        /* background-color: grey; */
    }

    #mapaJaliscoContainerMobile{
        display: block;
    }


    .mapSectionTextLeft{
        width: auto;
        height: auto;
        text-align: center;
        padding: 0px 1rem 0 1rem;
        font-family: 'madaniArabicBold';
        /* background-color: red; */
        display: flex;
        flex-direction: column; /* uno encima del otro */
        justify-content: center; /* centra verticalmente */
        align-items: center;     /* centra horizontalmente */
        text-align: center;   /* opcional: centra el texto */
        margin-top: 6dvh;
    }

    .mapSectionTextLeft h1{
        margin: 0;
        font-size: 1.0rem;
    }

    .mapSectionTextLeft p{
        font-family: 'madaniArabicLight';
        font-size: .7rem;
        margin: 0;
    }





    /* FOOTER SECTION */

.footerSectionContact{
    width: 100%;
    height: 70dvh;
    background-image: url('https://tsjapp.tecmm.mx/resources/images/landing/teclado.png');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.footerSectionContact h1{
    margin:0;
    padding-top: 4rem;
    padding-bottom:1rem;
    font-family: 'madaniArabicMedium';
    font-size: 1.5rem;
}

.logosAddressContainer{
    display: flex;
    flex-direction: column;
}

.logosRedesSection{
    width: 100%;
    height: auto;
    /* background-color: pink;     */
}

.redesLogos{
    width:100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    text-align: center;
}

.redesLogos img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    cursor: pointer;
    justify-self: center;
}


.mapAddressSection{
    width: 100%;
    height: auto;
    /* background-color: brown; */
    margin-top: 1rem;
}


.ubicationMapAddresContainer{
    width: 100%;
    height: auto;
    border-radius:10px;
    display:flex; 
    flex-direction:column; 
    justify-content:flex-start;
}

.ubicationIframeMap{
    width: 50%;
    border:0;
    border-radius: 10px;
    display: none;
}

.ubicationMapAddresContainer p{
    width: 100%;
    /* background-color: pink; */
    font-size: 1rem;
    text-align: center;
    font-family: 'madaniArabicMedium';
    margin: 0.5rem 0rem 0.5rem 0;
}

.whatsappLink{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    cursor: pointer;
}

.whatsappLink :hover{
    color: var(--green)
}

.whatsappLink h1{
    margin: 0;
    padding: 0;
}

.whatsappLink img{
    width: 3rem;
    height: 3rem;
    align-self: center;
}

.footerSectionLogos{
 width: 100%;
 height: 15vh;
   display: flex;
  align-items: center; /* ⛔ Esto centra verticalmente */
  justify-content: space-around; /* Esto centra horizontalmente */
}

.footerSectionLogos img{
    width: 7.5rem;
    height: 3rem;
    object-fit:contain;
}



    

}

@media (min-width: 768px)	{

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {
  
}