.organigrama-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

/* Director al centro */
.fila-director {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Empleados: 3 por fila */
.fila-empleados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
  justify-items: center;
}

.directorioTitle{
    margin-top: 7rem;
    text-align: center;
    font-family: 'madaniArabicBold';
    color:var(--navyBlue);
    font-size: 3rem;

}