.presentation-wrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* o ajusta según lo que quieras ocupar */
  overflow: hidden;
}

.map-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  pointer-events: none; /* permite interactuar con el mapa si lo necesitas */
}

.overlay-left {
  left: 0;
  justify-content: flex-start;
}

.overlay-right {
  right: 0;
  justify-content: flex-end;
}

.overlay-acotaciones {
  position: absolute;
  top: 17%;
  left:25%;
  height: auto;
  z-index: 5;
  display: flex;
  align-items: center;
  font-family: 'madaniArabicMedium';
  pointer-events: none; /* permite interactuar con el mapa si lo necesitas */
}

.acotaciones-position {

  justify-content: flex-start;
  z-index: 1000000;
}

/* Permite que los InfoCards sigan siendo interactivos */
.overlay > * {
  pointer-events: all;
}
