.unidadCardInfoContainer p{
    margin: 0.2rem 0rem 0.2rem 0rem;
    font-family: 'madaniArabicLight';
    font-size: 0.9rem;
    /* background-color: blue; */
    word-wrap: break-word;     /* Fuerza el salto de línea dentro de palabras largas */
    overflow-wrap: break-word; /* Recomendado por compatibilidad moderna */
    white-space: normal; 
    width: 90%;
}

#puestoDirector{
    font-family: 'madaniArabicMedium';

}

#emailDirector{
    font-size: 0.7rem;
}